:root {
  --body-margin: 8px;

  --toolbar-width: 608px;
  --toolbar-height: 32px;
  --palette-width: 80px;
  
  --palette-cell-width: 20px;
  --palette-cell-height: 20px;

  --palette-margin-right: 10px;
  --canvas-width: 608px;  /* 19*32 = 608 */
  --canvas-cell-width: 19px;

  --line-height-toolbar-text: 30px;

  --border-radius: 4px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Chrome, Opera and Firefox */
}

body {
	position: relative;
	background-color: #ccc;
	font-family: 'Open Sans', sans-serif;
	pointer-events: fill;
	margin: var(--body-margin);
}

#popup-message {
	position: relative;
	float: right;
	line-height: var(--line-height-toolbar-text);
	margin-right: 10px;
	height: var(--toolbar-height);
	border-radius: var(--border-radius);
	color: #ffffc9;
}

.fadeOutAnimation {
	animation: fadeOut 4s;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes fadeOut 
{
	0%   {opacity: 0;}
	1.5% {opacity: 1;}
	50%  {opacity: 1;}
	100% {opacity: 0;}
}

#hidden-text-div {
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	left: 0;
	background-color: red;
}

.tooltipText {
	visibility: hidden;
	position: absolute;
	z-index: 50;
	font-size: 14px;
	margin: auto;
	color: black;
	background-color: #ffffc9;
	border-radius: var(--border-radius);
	padding: 2px;
	top: 48px;
	box-shadow: 4px 4px 10px #dee;
}

.toolbarButton:hover .tooltipText {
	visibility: visible;
}

.toolbarButton {
	height: 33px;
	width: 33px;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	outline: 0;
	cursor: not-allowed;
}

#copy-button {
	cursor: pointer;
	background-color: #1a73f8;
	border-radius: var(--border-radius);
	box-shadow: 4px 4px 10px #dee;
}

#copy-button:hover {
	animation: boxShadowDarkens 0.05s forwards;
}

@keyframes boxShadowDarkens {
	from {box-shadow: 4px 4px 10px #dee;}
	to {box-shadow: 4px 4px 10px #aaa;}
}

#toolbar {
	position: relative;
	width: var(--toolbar-width);
	height: var(--toolbar-height);
	margin-bottom: 4px;
	cursor: default;
}

/* undo and redo */
.undoImg {
	background-image: url(img/undo.png);
}
.redoImg {
	background-image: url(img/redo.png);
}

/* for toolbar icons */
.pencilImg {
	background-image: url(img/pencil2.png);
}
.selectionImg {
	background-image: url(img/crosshair2.png);
}
.fillImg {
	background-image: url(img/fill2.png);
}
.eraserImg {
	background-image: url(img/eraser2.png);
}
.colorpickerImg {
	background-image: url(img/colorpicker2.png);
}

/* other toolbar buttons */
.gridImg {
	background-image: url(img/grid.png);
}
.saveImg {
	background-image: url(img/save2.png);
}
.resetImg {
	background-image: url(img/reset2.png);
}

#add-color-button {
	position: relative;
	outline: 1px solid black;
	cursor: pointer;
	margin-bottom: 4px;
	background-color: #d1d1d2;
	height: var(--palette-cell-height);
	width: var(--palette-cell-height);
}

#add-color-button:hover
{
	box-shadow: 0px 0px 10px aqua;
}

#add-color-button:active
{
	box-shadow: none;
}

#active-color-preview {
	height: var(--toolbar-height);
	width: var(--toolbar-height);
	border-radius: var(--border-radius);
	float: right;
}

#active-color-label {
	position: relative;
	float: right;
	line-height: var(--line-height-toolbar-text);
	padding-top: auto;
	margin-right: var(--palette-margin-right);
	height: var(--toolbar-height);
}

#palette-preview {
	position: absolute;
	width: var(--palette-width);
	height: var(--toolbar-height);
	top: 0px;
	border: 1px solid black;
	left: var(--toolbar-width);
	border-radius: var(--border-radius);
	margin-left: var(--palette-margin-right);
}

#canvas-div {
	position: relative;
	width: var(--canvas-width);
	height: var(--canvas-width);
	margin-right: var(--palette-margin-right);
	float: left;
}

#palette-div {
	position: relative;
	width: var(--palette-width);
	height: 640px;
	float: left;
	cursor: default;
}

#secret-info {
	position: fixed;
	bottom: 0;
	display: none;
}

.paletteCell {
	position: relative;
	float: left;
	height: var(--palette-cell-height);
	width: var(--palette-cell-width);
	cursor: pointer;
}

.textInPaletteCell {
	position: relative;
	left: var(--palette-width);
	height: inherit;
	z-index: 1;
	outline: 1px dotted grey;
	visibility: hidden;
}

.canvasCell {
	width: var(--canvas-cell-width);
	height: var(--canvas-cell-width);
	pointer-events: auto;
	float: left;
}

#selection {
	position: absolute;
	z-index: 2;
	outline: 1px dashed #ff000066;
	pointer-events: none;
}

#output-div {
	position: relative;
	left: 40px;
	width: 200px;
	height: 640px;
	float: left;
	opacity: 1;
	overflow-y: scroll;
	background-color: #eee;
}
