:root {
  --body-height: 556px;
  --body-margin: 8px;
  --border-radius: 4px;
  --button-border-radius: 1px;

  --toolbar-width: 512px;
  --toolbar-height: 32px;
  --line-height-toolbar-text: 30px;

  --popup-message-background-color: purple; /*#aacfcf*/

  --palette-width: 80px;
  --palette-cell-width: 20px;
  --palette-cell-height: 20px;
  --palette-margin-right: 10px;
  
  --tooltiptext-background-color: #ffffc9;

  --canvas-width: 512px;  /* 19*32 = 608 */
  --canvas-cell-width: 16px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Chrome, Opera and Firefox */
}

body {
	position: relative;
	background-color: #d9bf77;
	font-family: 'Open Sans', sans-serif;
	color: #000035;
	pointer-events: fill;
	margin: var(--body-margin);
	height: var(--body-height);
}

#popup-message {
	position: relative;
	float: right;
	line-height: var(--line-height-toolbar-text);
	margin-right: 10px;
	height: var(--toolbar-height);
	border: 1px solid black;
	border-radius: var(--border-radius);
	background-color: var(--tooltiptext-background-color);
	padding-left: 4px;
	padding-right: 4px;
}

.fadeOutAnimation {
	animation: fadeOut 4s;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes fadeOut 
{
	0%   {opacity: 0;}
	1.5% {opacity: 1;}
	50%  {opacity: 1;}
	100% {opacity: 0;}
}

#cursor-coords-display {
	position: fixed;
	z-index: 100;
	top: 553px;  /* toolbar-height + canvas-width + body-margin */
}

#hidden-text-div {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	background-color: red;
}

.tooltipText {
	visibility: hidden;
	position: absolute;
	z-index: 50;
	font-size: 14px;
	margin: auto;
	color: black;
	background-color: var(--tooltiptext-background-color);
	border-radius: var(--button-border-radius);
	padding: 2px;
	top: 48px;
	box-shadow: 4px 4px 10px #dee;
}

.toolbarButton {
	height: 32px;
	width: 32px;
	padding: 0;
	margin: 0;
	outline: 0;
	margin-right: 2px;
	border-radius: 2px;
	font-family: 'Open Sans', sans-serif;
	float: left;
	cursor: not-allowed;
}
.toolbarButton:hover .tooltipText {
	visibility: visible;
}

#copy-button {
	cursor: pointer;
	background-color: #639a67;
}
#copy-button:hover {
	background-color: #dee3e2;
}

#toolbar {
	position: relative;
	width: var(--toolbar-width);
	height: var(--toolbar-height);
	margin-bottom: 4px;
	cursor: default;
}

/* for toolbar icons */
.pencilImg {
	background-image: url(img/pencil.png);
	background-position: center;
	background-repeat: no-repeat;
}
.selectionImg {
	background-image: url(img/crosshair.png);
	background-position: center;
	background-repeat: no-repeat;
}
.fillImg {
	background-image: url(img/fill.png);
	background-position: center;
	background-repeat: no-repeat;
}
.eraserImg {
	background-image: url(img/eraserBig.png);
	background-position: center;
	background-repeat: no-repeat;
}
.colorpickerImg {
	background-image: url(img/colorpicker.png);
	background-position: center;
	background-repeat: no-repeat;
}

/* other toolbar buttons */
.gridImg {
	background-image: url(img/grid.png);
	background-position: center;
	background-repeat: no-repeat;
}
.copyImg {
	background-image: url(img/clipboard.png);
	background-position: center;
	background-repeat: no-repeat;
}

#add-color-button {
	position: relative;
	outline: 1px solid black;
	cursor: pointer;
	margin-bottom: 4px;
	background-color: #d1d1d2;
	height: var(--palette-cell-height);
	width: var(--palette-cell-height);
}

#add-color-button:hover
{
	box-shadow: 0px 0px 10px aqua;
}

#add-color-button:active
{
	box-shadow: none;
}

#active-color-preview {
	height: var(--toolbar-height);
	width: var(--toolbar-height);
	border-radius: var(--border-radius);
	float: right;
}

#active-color-label {
	position: relative;
	float: right;
	line-height: var(--line-height-toolbar-text);
	padding-top: auto;
	margin-right: var(--palette-margin-right);
}

#palette-preview {
	position: absolute;
	width: var(--palette-width);
	height: var(--toolbar-height);
	top: 0px;
	border: 1px solid black;
	left: var(--toolbar-width);
	border-radius: var(--border-radius);
	margin-left: var(--palette-margin-right);
}

#canvas-div {
	position: relative;
	width: var(--canvas-width);
	height: var(--canvas-width);
	margin-right: var(--palette-margin-right);
	float: left;
}

#palette-div {
	position: relative;
	width: var(--palette-width);
	float: left;
	cursor: default;
}

#secret-info {
	position: fixed;
	bottom: 0;
	display: none;
}

.paletteCell {
	position: relative;
	float: left;
	height: var(--palette-cell-height);
	width: var(--palette-cell-width);
	cursor: pointer;
}

.textInPaletteCell {
	position: relative;
	left: var(--palette-width);
	height: inherit;
	z-index: 1;
	outline: 1px dotted grey;
	visibility: hidden;
}

.canvasCell {
	width: var(--canvas-cell-width);
	height: var(--canvas-cell-width);
	pointer-events: auto;
	float: left;
}

#selection {
	position: absolute;
	z-index: 2;
	outline: 1px dashed #ff000066;
	pointer-events: none;
}

#output-div {
	position: relative;
	left: 40px;
	width: 200px;
	height: 640px;
	float: left;
	opacity: 1;
	overflow-y: scroll;
	background-color: #eee;
}
