body {
	position: relative;
	background-color: #ccc;
	font-family: 'Open Sans', sans-serif;
	pointer-events: fill;
	/*cursor: move;*/
}

button {
	height: 32px;
	width: 32px;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	outline: 0;
}

#toolbar {
	position: relative;
	width: 608px;
	height: 32px;
	margin-bottom: 4px;
}

/* for toolbar icons */
.crosshairImg {
	background-image: url(img/crosshair.png);
}
.fillImg {
	background-image: url(img/fill2.png);
}
.eraserImg {
	background-image: url(img/eraser2.png);
}
.colorpickerImg {
	background-image: url(img/colorpicker2.png);
}

/* other toolbar buttons */
.gridImg {
	background-image: url(img/grid.png);
}
.saveImg {
	background-image: url(img/save2.png);
}

/* for cursor */
.cursor-crosshair {
	cursor: crosshair;
}
.cursor-fill {
	cursor: url(img/fill2.png) 16 16, auto;
}
.cursor-eraser {
	cursor: url(img/eraser2.png) 16 16, auto;
}
.cursor-colorpicker {
	cursor: url(img/colorpicker2.png) 16 16, auto;
}
.cursor-default {
	cursor: default;
}


.cursor-wait {
	cursor: wait;
}
.cursor-move {
	cursor: move;
}

#active-color-preview {
	height: 32px;
	width: 32px;
	border-radius: 4px;
	float: right;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Chrome, Opera and Firefox */
}

#canvas-div {
	position: relative;
	width: 608px;
	height: 608px;
	float: left;
}

#palette-div {
	position: relative;
	width: 40px;
	height: 640px;
	float: left;
	margin-right: 20px;
}

.paletteCell {
	position: relative;
	height: 40px;
	cursor: pointer;
	border-radius: 2px;
}

.canvasCell {
	pointer-events: auto;
	float: left;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#output-div {
	position: relative;
	left: 40px;
	width: 200px;
	height: 640px;
	float: left;
	opacity: 1;
	overflow-y: scroll;
	background-color: #eee;
}
